$dark-gray: #444;
$medium-gray: #888;
$light-gray: #ddd;
$primary-color: #FF6639;
$link-color: #476AE0;

$monospace: "Liberation Mono", Consolas,Menlo, Courier, monospace !default;

@mixin container {
  max-width: 720px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* root */

body {
  font-family: $monospace;
  color: $dark-gray;
  padding: 5rem 0 0 0;
  margin: 0;
}

pre {
  font-family: $monospace;
  overflow: auto;
  margin: 1rem 0;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  pre {
    margin-top: 2rem;
    display: inline-block;
    text-align: left;
    line-height: 1.5rem;
    overflow: auto;
  }
}

a {
  color: $dark-gray;
  text-decoration: underline;
  &:hover {
    color: $primary-color;
  }
}

/* blog */

header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: $light-gray;

  border-bottom: 1px solid $medium-gray;
}

h1 {
  @include container;
  color: $primary-color;
  font-size: 1rem;
  font-weight: bold;
}

.muted {
  color: $medium-gray;
}

footer {
  @extend .muted;
  padding: 2rem;
  text-align: center;
}

time {
  @extend .muted;
}

/* posts */

p {
  @include container;
  line-height: 1rem;
}

.flex-justify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* post */

.e-content {
    text-align: justify;
}

/* other */

h2 {
  @include container;
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: bold;
}

section {
  padding-left: 5rem;
}

table {
  width: 100%;
}

td {
  padding: 0.5rem;
}

ol, ul {
  @include container;
}

li {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
}

kbd {
  color: $primary-color;
}

code {
  color: $medium-gray;
}

hr {
  border: none;
  text-align: center;
  &:after {
    @extend .muted;
    content: '##';
  }
}

blockquote {
  font-style: italic;
  p {
    box-sizing: border-box;
    padding: 0 3rem;
  }
}

aside {
  @extend .muted;
  @include container;
  &:before {
    display: block;
    content: '/*';
  }
  &:after {
    display: block;
    white-space: pre;
    content: ' */';
  }
  &>* {
    margin-left: 1rem;
  }
  a {
    color: $medium-gray;
  }
}

.d3container {
  text-align: center;
}

.text-center {
  text-align: center;
}

.highlight {
  margin: 0;
  padding: 1rem;
  background-color: $dark-gray;
}

.highlight pre {
  @include container;
}
