$nero: #262626;
$mine_shaft: #3f3f3f;
$dim_gray: #6c6c6c;
$dove_gray: #6f6f6f;
$gray: #8f8f8f;
$edward: #9fafaf;
$moon_mist:#dcdccc;
$beauty_bush: #ecbcbc;
$double_col_white: #f0dfaf;

$bg: $mine_shaft;
$fg: $moon_mist;
$head: $edward;
$link: $double_col_white;
$link_hover: $beauty_bush;
$scroll_fg: $dim_gray;
$scroll_bg: $nero;
$med: $gray;

$mono: "DejaVu Sans Mono", "Liberation Mono", "Consolas", monospace !default;
$sans: "DejaVu Sans Book", "Liberation Sans", "Calibri", sans !default;
$maxcols: 80ch;

@mixin container {
  max-width: $maxcols;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
}

.container {
  @include container;
}

* {
  scrollbar-color: $scroll_fg $scroll_bg;
}

*::-webkit-scrollbar {
  width: auto;
}

*::-webkit-scrollbar-track {
  background: $scroll_bg; 
}
 
*::-webkit-scrollbar-thumb {
  background: $scroll_fg;
}

body {
  background-color: $bg;
  color: $fg;
  font-family: $mono;
  padding: 5rem 0 0 0;
  margin: 0;
}

a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: $link_hover;
  }
}

.home {
  position: absolute;
  width: 100%;
  text-align: center;
  pre {
    @include container;
    overflow: auto;
    display: inline-block;
    text-align: left;
  }
}

.flex-justify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.muted {
  color: $med;
}

footer {
  @extend .muted;
  p {
    line-height: 1.5rem;
    text-align: center;
  }
}

time {
  @extend .muted;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: $bg;
  border-bottom: 1px solid $med;
}

article {
  @include container;
}

h1, h2 {
  color: $head;
  font-size: 1rem;
  font-weight: bold;
}

p {
  text-align: justify;
}

pre {
  font-family: $mono;
  overflow: auto;
  margin: 1rem;
}

.highlight {
  display: flex;
  padding-left: 2ch;
}

blockquote {
  font-style: italic;
  p {
    box-sizing: border-box;
    padding: 0 2ch;
  }
}
