/* Plan 9
 * sources:
 *   https://raw.githubusercontent.com/wallace-aph/configs/master/plan9/Xresources
 *   https://github.com/john2x/plan9-theme.el/blob/master/plan9-theme.el
 * todo:
 *   should put in public base16 schemes
 */

$base00: #ffffe8;
$base01: #99994c;
$base02: #eeee9e;
$base03: #666666;
$base04: #55aaaa;
$base05: #000000;
$base06: #8888cc;
$base07: #666666;
$base08: #bb5d5d;
$base09: #bb5d5d;
$base0A: #eeee9e;
$base0B: #99994c;
$base0C: #9eeeee;
$base0D: #55aaaa;
$base0E: #8888cc;
$base0F: #9eeeee;
