<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta charset="utf-8">
  <title>konfou.xyz/cv</title>
  <meta name="author" content="{{ site.data.cv.name }}"/>
  <meta name="description" content="{{ site.data.cv.name}}'s CV"/>
  <link rel="icon" href="/assets/images/identicon.png">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" media="all"/>
  <link rel="stylesheet" type="type/css" href="https://fonts.googleapis.com/css?family=Lusitana:400,700">
  <style>
     h1 { font-family: 'Lusitana', serif; font-size: 5em; }
     .skills { margin-right: 1em; }
     @media print { .nohref a[href]:after { content: ""; } }
  </style>
</head>
<body>
    {{ content }}
</body>
</html>
