---
layout: blog
---
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script type="text/x-mathjax-config" src="/assets/js/mathjax.conf.js"></script>

<article itemscope itemtype="https://schema.org/BlogPosting" class="h-entry hentry">
  <h1 itemprop="headline" class="p-name entry-title">{{ page.title }}</h1>
  <p><time datetime="{{ page.date | date: '%Y-%m-%d' }}"
           itemprop="datePublished" class="dt-published published">{{ page.date | date: "%-d %B %Y" }}</time></p>
  <div itemprop="articleBody" class="e-content">
    {% include anchor_headings.html anchorBody="" beforeHeading=true html=content %}
  </div>
</article>

<footer>
  <p>
    Read more:<br>
    {% for related in site.related_posts limit: 3 %}
    <a href="{{ related.url }}">{{ related.title }}</a><br>
    {% endfor %}
  </p>
</footer>
